:root {
    --background-color: #fdf7ee;
    --dark-green: #75b88d;
    --light-green: #cbebcf;
    --text-color: #333333;
    --transition-speed: 0.3s;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Roboto, sans-serif;
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color, #fdf7ee);
    color: var(--text-color, #333333);
    /* overflow-x: hidden; */
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-green, #75b88d);
    height: 4rem;
}

header h1 {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

header svg:hover {
    transform: scale(1.1);
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

nav button {
    margin: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--dark-green, #75b88d);
}

nav button:hover {
    transform: translateY(-2px);
}

nav a {
    padding: 1.6rem 2.5rem;
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--background-color, #ffffff);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

article {
    border: 2px solid var(--dark-green, #75b88d);
    border-radius: 0.5rem;
    padding: 5rem;
    align-items: center;
}

blockquote {
    margin: 40px;
}

form {
    display: grid;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    border: 2px solid var(--dark-green, #75b88d);
    padding: 1rem;
    border-radius: 0.5rem;
}

legend {
    padding: 0 1rem;
    color: var(--dark-green, #75b88d);
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color, #75b88d);
}

input, select, textarea {
    width: 97%;
    padding: .5rem;
    margin-bottom: 10px;
    border: 1px solid var(--dark-green, #75b88d);
    border-radius: 0.25rem;
}

form button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--dark-green, #75b88d);
    transition: transform var(--transition-speed) ease;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--dark-green));
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

hgroup {
    text-align: center;
    padding-bottom: 20px;
}

.project-desc {
    margin: 0 40px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--dark-green, #75b88d);
    color: var(--background-color, #ffffff);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .project {
        max-width: 80%;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 1rem;
    }
}

button:has(a) {
    cursor: pointer;
}